@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Background color */

    --bg-danger: #f63440;
    --bg-white: #fff;
    --bg-light-white: #f5f5f5;

    /* Text color */
    --primary-font: 'Poppins', sans-serif;
    --text-white: #fff;
    --text-black: #121212;
    --text-danger: #f63440;
    --text-gray: #aaa;
    --text-dark-gray: #777;
}

body{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}

/* Custom css */

a, 
a:hover{
    text-decoration: none;
}

p{
    margin: 0;
}

.btn-danger{
    background: var(--bg-danger);
    border-color: var(--bg-danger);
    padding: 0.6rem 1.3rem;
    font-size: 1rem;
    font-weight: 500;
}

.btn-danger:hover{
    color: var(--text-danger);
    background: transparent;
}

/* navbar css */

.header .fixed-top{
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 / 30%);
}

.header .navbar-brand .logo{
    height: 3.8rem;
    margin-top: -8px !important;
}

.header .navbar-nav .nav-item .nav-link{
    color: var(--text-black);
    padding: 0.5rem 1rem;
    text-align: center;
}
.header .navbar-nav .nav-item .nav-link:hover,
.header .navbar-nav .nav-item .nav-link.active{
    color: var(--text-danger);
}

.header .navbar-toggler-icon{
    width: unset;
    height: unset;
}

.header .navbar-toggler:focus{
    box-shadow: none;
}

/* home css */

.home .home-banner-1,
.home .home-banner-2,
.home .home-banner-3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    min-height: 650px;
    position: relative;
}

.home .home-banner-1{
    background-image: url('../images/slide1.jpg');
}
.home .home-banner-2{
    background-image: url('../images/slide2.jpg');
}
.home .home-banner-3{
    background-image: url('../images/slide3.jpg');
}

.home .home-banner .home-banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -50%);
}

.home .home-banner .home-banner-text h1{
    font-size: 5.5rem;
}

/* offfer css */

.offers .offer-overlay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.offers .offer-box .offer-info{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 250ms ease-out;
    justify-content: center;
    align-items: center;
}

.offers .offer-box .offer-info .heading-bigger{
    font-size: 3.8rem;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 0;
    color: var(--text-white);
}

.offers .offer-box .offer-info .offer-title-1{
    color: var(--text-white);
    font-size: 1.25rem;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.offers .offer-box .offer-info .btn-outline-danger{
    color: var(--text-white);
    border-color: var(--bg-white);
    transition: all 0.3s ease-in-out;
}

.offers .offer-box .offer-info .btn-outline-danger:hover{
    border-color: var(--bg-danger);
    background-color: var(--bg-danger);
}


/* special css */

.special{
    background-color: var(--bg-light-white);
}
.ti-star{
    color: var(--text-gray);
}
.ti-star.active{
    color: var(--text-danger);
}
.main-heading h1{
    font-size: 2.8rem;
}
.special .countdown-container p{
    color: var(--text-dark-gray);
    font-weight: 300;
}
.special .countdown-container .countdown-counter{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1.8rem;
}
.special .countdown-container .countdown-counter li{
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    background-color: var(--bg-white);
    border-radius: 0.313rem;
    padding: 1.5rem 1rem;
    width: 15%;
    margin: 0.3rem;
}
.countdown-counter li .coundown-text{
    color: var(--text-dark-gray);
}
.special .countdown-container .countdown-price del{
    color: var(--text-dark-gray);
    font-size: 1.2rem;
}
.special-img img{
    width: 100%;
    height: 100%;
}
.special-offer{
    padding: 0.3rem 0.35rem;
    background: var(--bg-danger);
    color: var(--text-white);
    font-size: 0.95rem;
    position: absolute;
    left: 0.15rem;
    top: 0.15rem;
    z-index: 99;
}

/* parallax css */

.parallax{
    width: 100%;
    height: 600px;
    background: url('../images/parallax-img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.parallax-content{
    padding: 3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px 50px 2px 50px;
}
.parallax .heading-bigger{
    font-size: 3.8rem;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 0;
    color: var(--text-danger);
}

/* top brand css */

.top-brand-container li{
    list-style: none;
}
.top-brand-container{
    overflow-x: auto;
    background: var(--bg-light-white);
    padding: 0.2rem;
}

/* footer css */

.footer-section .footer-col{
    margin-bottom: 30px;
}

.footer-section .footer-contact .contact-link-box{
    display: flex;
    flex-direction: column;
}

.footer-section .footer-contact .contact-link-box a{
    color: var(--text-white);
    margin: 4px 0;
}
.footer-section .footer-contact .contact-link-box a:hover,
.footer-section .footer-social a:hover{
    color: var(--text-danger);
}

.footer-section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: var(--text-white);
}
.footer-section .footer-social{
    display: flex;
    justify-content: center;
}
.footer-section .footer-social a{
    color: var(--text-white);
    margin: 0.3rem;
}
